version: '3.8'

services:
  postgres:
    image: postgres:17.6
    container_name: virtue-auth-db
    environment:
      POSTGRES_DB: agent-platform
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d app"]
      interval: 10s
      timeout: 5s
      retries: 5

  virtue-agent-platform:
    image: agent:latest
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      LANGFLOW_DATABASE_URL: postgresql://postgres:password@postgres:5432/agent-platform
      LANGFLOW_LANGCHAIN_CACHE: SQLiteCache
      LANGFLOW_SECRET_KEY: somesecretkey
    command: ["uv", "run", "langflow", "run", "--port", "8000", "--host", "0.0.0.0", "--env-file", "env_config/.user_auth_sqlite_production.env"]

    # volumes:
    #   - .:/app

volumes:
  postgres_data: